.post-item{

  &__container{

    &-large{

      max-width: 736px;

    }

  }

  &__body{

    display: flex;
    gap: 32px;

    &-large, &-small {
      flex-flow: row-reverse;
      justify-content: space-between;
    }

    &-medium{
      flex-direction: column;
    }

  }

  &-body{

    &__img{

      color: #31303733;

      &-large{

        width: 256px;
        height: 244px;
        margin-bottom: 144px;

      }

      &-medium{

        width: 352px;
        height: 246px;
        margin-bottom: 30px;

      }

      &-small{

        width: 96px;
        height: 96px;
        margin-bottom: 45px;

      }
    }

    &-text{

      &__date{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #8D8E97;
      }

      &__title{
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        text-align: left;
        color: #313037;
        padding-bottom: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        &:hover{
          color: #2231AA;
          cursor: pointer;
        }
      }

      &__description{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #8D8E97;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        cursor: default;
      }

    }

  }

  &__footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
  }

  &-footer{

    &__group{
      display: flex;
      gap: 24px;
      padding-bottom: 40px;
      position: relative;
    }
  }

  &-footer-group{

    &__button{

      width: 22px;
      height: 22px;
      color: #4C4B5E;
    }

    &__submenu{
      position: absolute;
      display: flex;
      flex-direction: column;
      left: -300%;
      top: 50%;
    }

    &-submenu{

      &__button{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        background-color: #ffffff;
        padding: 30px 114px;
        border: none;

        &:first-child{
          border-bottom: 1px solid #DADADA;;
        }

        &:hover{
          cursor: pointer;
          color: #2231AA;
        }
      }

    }

  }


  &-footer-group__span{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

}

.btn-bookmark{
  color: #313037;
}

.icon{
  &--dark *{
    fill:#ffffff;
  }
}

